In [2]:
import  pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("cardekho_dataset.csv")

In [4]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [5]:
df.drop("Unnamed: 0", axis = 1, inplace = True)

In [6]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [7]:
# data cleaning 

df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [8]:
# remove unecessary columns 

#df.drop("car_name", axis = 1, inplace = True)
df.drop("brand", axis =1 , inplace = True)

In [9]:
df.head()

,car_name,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [10]:
df["model"].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [11]:
num_feature = [feature for feature in df.columns if df[feature].dtype != "O" ]
print("numerical = ", len(num_feature))
cat_feature = [feature for feature in df.columns if df[feature].dtype == "O" ]
print("categorical = ", len(cat_feature))
descrete = [feature for feature in df.columns if len(df[feature].unique()) <= 25 ]
print("descrete = ", len(descrete))
continous = cat_feature = [feature for feature in num_feature if feature not in descrete ]
print("continous = ", len(continous))

numerical =  7
categorical =  5
descrete =  5
continous =  5

In [12]:
from sklearn.model_selection import train_test_split

X = df.drop(["selling_price"], axis = 1)
y = df["selling_price"]

In [13]:
X.head()

,car_name,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Hyundai Grand,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,Hyundai i20,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Maruti Alto,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ford Ecosport,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [14]:
df["model"].value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [15]:
len(df["model"].unique())

120

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X["model"] = le.fit_transform(X["model"])

In [17]:
X.head()

,car_name,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Hyundai Grand,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,Hyundai i20,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Maruti Alto,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ford Ecosport,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [18]:
# create a column transformer with 3 types of transformer


num = X.select_dtypes(exclude = "object").columns 
onehot = ["seller_type","fuel_type","transmission_type"]
lebel = ["model"]

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
of_transformer = OneHotEncoder(drop = "first")

preprocessor = ColumnTransformer(
    [
    ("OneHotEncoder", of_transformer, onehot),
    ("StandardScaler", numeric_transformer, num)
    ], remainder = "passthrough"
)

In [19]:
X = preprocessor.fit_transform(X)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, y_train.shape

((12328, 15), (12328,))

In [21]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.261053,0.319814,0.283541,-2.038093,1.753906,2.662498,-0.403022,Volvo XC60
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.793003,-1.339555,-0.883751,0.992261,-0.55088,-0.386028,-0.403022,Tata Tiago
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.24439,-1.339555,-0.961245,-0.168096,0.890331,3.27453,-0.403022,Mercedes-Benz CLS
3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.024131,0.319814,0.143045,-0.455788,0.020999,0.388902,-0.403022,Honda City
4,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,1.315436,0.478051,0.157955,-0.554718,-0.504712,-0.403022,Hyundai i10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12323,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.556082,0.319814,1.397111,0.256249,-0.456846,-0.274327,2.073444,Maruti Ertiga
12324,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.903133,1.647309,0.065551,-0.865749,0.214823,0.060778,-0.403022,Volkswagen Vento
12325,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.040794,0.319814,-0.690016,0.193916,-0.93661,-0.780708,-0.403022,Maruti Wagon R
12326,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,-1.339555,-0.786884,-0.263994,-0.554718,-0.435829,-0.403022,Hyundai i20
12327,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.051664,-1.339555,-0.496281,0.138775,-0.046168,0.061942,-0.403022,Maruti Ciaz

## model training and model selection

In [23]:
from sklearn.ensemble import RandomForestRegressor 
from sklearn.linear_model import LinearRegression, Ridge , Lasso 
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score , mean_absolute_error, mean_squared_error

In [24]:
def evaluate (true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_absolute_error(true, predicted))
    r2_score = r2_score(true, predicted)
    return mae, mse, r2_score

In [25]:
models = {
    "Linear":LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors ": KNeighborsRegressor(),
    "Decision tree": DecisionTreeRegressor(),
    "Random forest": RandomForestRegressor(),
    }

for i in range (len(list(models))):
    model = list (models.values())[i]
    model.fit(X_train, y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # train set performance

    train_mae, train_mse, train_rmse, train_r2_score = evaluate(y_train, y_train_pred)


    #test set performance 

    test_mae, test_mse, test_rmse, test_r2_score = evaluate(y_test, y_test_pred)


    print(list(models.keys())[i])
    print("Training set")
    print(train_mae)
    print(train_mse)
    print(train_rmse)
    print(train_r2_score)

    print("_____________________________________________________________________________________________________________")


    print("Test set")
    
    print(test_mae)
    print(test_mse)
    print(test_rmse)
    print(test_r2_score)


    print("="*35)
    print("\n")

ValueError: could not convert string to float: 'Volvo XC60'