In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv(r"C:\Users\jaint\OneDrive\Desktop\ML bootcamp\code\EDA\googleplaystore.csv")

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
df.shape

(10841, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [6]:
# summary of dataset

df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [7]:
# missing vals 

df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

## data cleaning

In [9]:
df["Reviews"].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [10]:
df["Reviews"].str.isnumeric().sum()

10840

In [11]:
df[~df["Reviews"].str.isnumeric()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [35]:
df_copy = df.copy()

In [37]:
df_copy = df_copy.drop(df_copy.index[10472])

In [39]:
df_copy[~df_copy["Reviews"].str.isnumeric()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [41]:
df_copy["Reviews"] = df_copy["Reviews"].astype("int64")

In [43]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int64
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.2+ MB

In [45]:
df_copy["Size"].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [47]:
df_copy["Size"] = df_copy["Size"].str.replace("M", "1000")
df_copy["Size"] = df_copy["Size"].str.replace("k", "")

In [49]:
df_copy["Size"].unique()

array(['191000', '141000', '8.71000', '251000', '2.81000', '5.61000',
       '291000', '331000', '3.11000', '281000', '121000', '201000',
       '211000', '371000', '2.71000', '5.51000', '171000', '391000',
       '311000', '4.21000', '7.01000', '231000', '6.01000', '6.11000',
       '4.61000', '9.21000', '5.21000', '111000', '241000',
       'Varies with device', '9.41000', '151000', '101000', '1.21000',
       '261000', '8.01000', '7.91000', '561000', '571000', '351000',
       '541000', '201', '3.61000', '5.71000', '8.61000', '2.41000',
       '271000', '2.51000', '161000', '3.41000', '8.91000', '3.91000',
       '2.91000', '381000', '321000', '5.41000', '181000', '1.11000',
       '2.21000', '4.51000', '9.81000', '521000', '9.01000', '6.71000',
       '301000', '2.61000', '7.11000', '3.71000', '221000', '7.41000',
       '6.41000', '3.21000', '8.21000', '9.91000', '4.91000', '9.51000',
       '5.01000', '5.91000', '131000', '731000', '6.81000', '3.51000',
       '4.01000', '2.31000', '7.21000', '2.11000', '421000', '7.31000',
       '9.11000', '551000', '23', '6.51000', '1.51000', '7.51000',
       '511000', '411000', '481000', '8.51000', '461000', '8.31000',
       '4.31000', '4.71000', '3.31000', '401000', '7.81000', '8.81000',
       '6.61000', '5.11000', '611000', '661000', '79', '8.41000', '118',
       '441000', '695', '1.61000', '6.21000', '18', '531000', '1.41000',
       '3.01000', '5.81000', '3.81000', '9.61000', '451000', '631000',
       '491000', '771000', '4.41000', '4.81000', '701000', '6.91000',
       '9.31000', '10.01000', '8.11000', '361000', '841000', '971000',
       '2.01000', '1.91000', '1.81000', '5.31000', '471000', '556', '526',
       '761000', '7.61000', '591000', '9.71000', '781000', '721000',
       '431000', '7.71000', '6.31000', '334', '341000', '931000',
       '651000', '791000', '1001000', '581000', '501000', '681000',
       '641000', '671000', '601000', '941000', '232', '991000', '624',
       '951000', '8.5', '41', '292', '11', '801000', '1.71000', '741000',
       '621000', '691000', '751000', '981000', '851000', '821000',
       '961000', '871000', '711000', '861000', '911000', '811000',
       '921000', '831000', '881000', '704', '862', '899', '378', '266',
       '375', '1.31000', '975', '980', '4.11000', '891000', '696', '544',
       '525', '920', '779', '853', '720', '713', '772', '318', '58',
       '241', '196', '857', '51', '953', '865', '251', '930', '540',
       '313', '746', '203', '26', '314', '239', '371', '220', '730',
       '756', '91', '293', '17', '74', '14', '317', '78', '924', '902',
       '818', '81', '939', '169', '45', '475', '965', '901000', '545',
       '61', '283', '655', '714', '93', '872', '121', '322', '1.01000',
       '976', '172', '238', '549', '206', '954', '444', '717', '210',
       '609', '308', '705', '306', '904', '473', '175', '350', '383',
       '454', '421', '70', '812', '442', '842', '417', '412', '459',
       '478', '335', '782', '721', '430', '429', '192', '200', '460',
       '728', '496', '816', '414', '506', '887', '613', '243', '569',
       '778', '683', '592', '319', '186', '840', '647', '191', '373',
       '437', '598', '716', '585', '982', '222', '219', '55', '948',
       '323', '691', '511', '951', '963', '25', '554', '351', '27', '82',
       '208', '913', '514', '551', '29', '103', '898', '743', '116',
       '153', '209', '353', '499', '173', '597', '809', '122', '411',
       '400', '801', '787', '237', '50', '643', '986', '97', '516', '837',
       '780', '961', '269', '20', '498', '600', '749', '642', '881', '72',
       '656', '601', '221', '228', '108', '940', '176', '33', '663', '34',
       '942', '259', '164', '458', '245', '629', '28', '288', '775',
       '785', '636', '916', '994', '309', '485', '914', '903', '608',
       '500', '54', '562', '847', '957', '688', '811', '270', '48', '329',
       '523', '921', '874', '981', '784', '280', '24', '518', '754',
       '892', '154', '860', '364', '387', '626', '161', '879', '39',
       '970', '170', '141', '160', '144', '143', '190', '376', '193',
       '246', '73', '658', '992', '253', '420', '404', '470', '226',
       '240', '89', '234', '257', '861', '467', '157', '44', '676', '67',
       '552', '885', '1020', '582', '619'], dtype=object)

In [51]:
df_copy["Size"] = df_copy["Size"].replace("Varies with device",np.nan)

In [53]:
df_copy["Size"].unique()

array(['191000', '141000', '8.71000', '251000', '2.81000', '5.61000',
       '291000', '331000', '3.11000', '281000', '121000', '201000',
       '211000', '371000', '2.71000', '5.51000', '171000', '391000',
       '311000', '4.21000', '7.01000', '231000', '6.01000', '6.11000',
       '4.61000', '9.21000', '5.21000', '111000', '241000', nan,
       '9.41000', '151000', '101000', '1.21000', '261000', '8.01000',
       '7.91000', '561000', '571000', '351000', '541000', '201',
       '3.61000', '5.71000', '8.61000', '2.41000', '271000', '2.51000',
       '161000', '3.41000', '8.91000', '3.91000', '2.91000', '381000',
       '321000', '5.41000', '181000', '1.11000', '2.21000', '4.51000',
       '9.81000', '521000', '9.01000', '6.71000', '301000', '2.61000',
       '7.11000', '3.71000', '221000', '7.41000', '6.41000', '3.21000',
       '8.21000', '9.91000', '4.91000', '9.51000', '5.01000', '5.91000',
       '131000', '731000', '6.81000', '3.51000', '4.01000', '2.31000',
       '7.21000', '2.11000', '421000', '7.31000', '9.11000', '551000',
       '23', '6.51000', '1.51000', '7.51000', '511000', '411000',
       '481000', '8.51000', '461000', '8.31000', '4.31000', '4.71000',
       '3.31000', '401000', '7.81000', '8.81000', '6.61000', '5.11000',
       '611000', '661000', '79', '8.41000', '118', '441000', '695',
       '1.61000', '6.21000', '18', '531000', '1.41000', '3.01000',
       '5.81000', '3.81000', '9.61000', '451000', '631000', '491000',
       '771000', '4.41000', '4.81000', '701000', '6.91000', '9.31000',
       '10.01000', '8.11000', '361000', '841000', '971000', '2.01000',
       '1.91000', '1.81000', '5.31000', '471000', '556', '526', '761000',
       '7.61000', '591000', '9.71000', '781000', '721000', '431000',
       '7.71000', '6.31000', '334', '341000', '931000', '651000',
       '791000', '1001000', '581000', '501000', '681000', '641000',
       '671000', '601000', '941000', '232', '991000', '624', '951000',
       '8.5', '41', '292', '11', '801000', '1.71000', '741000', '621000',
       '691000', '751000', '981000', '851000', '821000', '961000',
       '871000', '711000', '861000', '911000', '811000', '921000',
       '831000', '881000', '704', '862', '899', '378', '266', '375',
       '1.31000', '975', '980', '4.11000', '891000', '696', '544', '525',
       '920', '779', '853', '720', '713', '772', '318', '58', '241',
       '196', '857', '51', '953', '865', '251', '930', '540', '313',
       '746', '203', '26', '314', '239', '371', '220', '730', '756', '91',
       '293', '17', '74', '14', '317', '78', '924', '902', '818', '81',
       '939', '169', '45', '475', '965', '901000', '545', '61', '283',
       '655', '714', '93', '872', '121', '322', '1.01000', '976', '172',
       '238', '549', '206', '954', '444', '717', '210', '609', '308',
       '705', '306', '904', '473', '175', '350', '383', '454', '421',
       '70', '812', '442', '842', '417', '412', '459', '478', '335',
       '782', '721', '430', '429', '192', '200', '460', '728', '496',
       '816', '414', '506', '887', '613', '243', '569', '778', '683',
       '592', '319', '186', '840', '647', '191', '373', '437', '598',
       '716', '585', '982', '222', '219', '55', '948', '323', '691',
       '511', '951', '963', '25', '554', '351', '27', '82', '208', '913',
       '514', '551', '29', '103', '898', '743', '116', '153', '209',
       '353', '499', '173', '597', '809', '122', '411', '400', '801',
       '787', '237', '50', '643', '986', '97', '516', '837', '780', '961',
       '269', '20', '498', '600', '749', '642', '881', '72', '656', '601',
       '221', '228', '108', '940', '176', '33', '663', '34', '942', '259',
       '164', '458', '245', '629', '28', '288', '775', '785', '636',
       '916', '994', '309', '485', '914', '903', '608', '500', '54',
       '562', '847', '957', '688', '811', '270', '48', '329', '523',
       '921', '874', '981', '784', '280', '24', '518', '754', '892',
       '154', '860', '364', '387', '626', '161', '879', '39', '970',
       '170', '141', '160', '144', '143', '190', '376', '193', '246',
       '73', '658', '992', '253', '420', '404', '470', '226', '240', '89',
       '234', '257', '861', '467', '157', '44', '676', '67', '552', '885',
       '1020', '582', '619'], dtype=object)

In [55]:
df_copy = df_copy["Size"].astype(float)

In [57]:
df_copy.info()

<class 'pandas.core.series.Series'>
Index: 10840 entries, 0 to 10840
Series name: Size
Non-Null Count  Dtype
--------------  -----
9145 non-null   float64
dtypes: float64(1)
memory usage: 169.4 KB

In [65]:
df_copy.columns()

AttributeError: 'Series' object has no attribute 'columns'

In [61]:
df_copy["Price"].unique()

KeyError: 'Price'

In [63]:
char_to_remove = ["+",",","$"]
cols_to_clean = ["Installs","Price"]

In [ ]:
for items in char_to_remove:
    for cols in cols_to_clean:
        df_copy[cols] = df_copy[cols].str.replace(items,"")

In [ ]:
print(df_copy.columns)

In [ ]:
df["Last Updated"].unique()

In [ ]:
df["Last Updated"] = pd.to_datetime(df["Last Updated"])